/* General Styles */
body {
    background-color: #313131;
    font-family: sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

h1,
h2 {
    text-transform: uppercase;
    margin-bottom: 13px;
    font-weight: 300;
    color: orange;
}

.container {
    max-width: 900px;
    margin: 50px auto;
    padding: 35px;
    border: 1px solid white;
    border-radius: 15px;
}

.header {
    text-align: center;
    font-size: 18px;
}

.my-pic {
    width: 300px;
    border-radius: 50%;
    margin-bottom: 30px;
    box-shadow: 0 0 15px white;
}

.personal {
    margin-bottom: 90px;
}

hr {
    width: 50%;
}